nivel02/primeiro-projeto-node/.vscode
nivel02/primeiro-projeto-node/node_modules
nivel01/backend/node_modules
nivel01/frontend/node_modules
nivel01/mobile/node_modules
nivel01/typescript/node_modules
